.contact {
  margin-bottom: 196px;
  &__header {
    letter-spacing: 0.65px;
    font-family: $PrimaryFont;
    font-size: 48px;
    line-height: 60px;
    font-weight: 600;
    margin-bottom: 86px;
  }
  &__wrapper {
    display: flex;
  }
  &__wrapper-left {
    flex: 0 1 35%;
  }

  &__wrapper-right {
    flex: 0 1 65%;
    background-color: #f9f9fb;
  }
  &__social-item {
    display: flex;
    &:not(:last-child) {
      margin-bottom: 41px;
    }
  }

  &__social-icon {
    width: 28px;
    align-items: center;
    margin-right: 32px;
  }
  &__social-title {
    font-family: $SecondaryFont;
    color: $SecondaryColor;
    font-size: 14px;
    line-height: 21px;
  }
  &__social-descr {
    font-family: $PrimaryFont;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 23px 0px 10px 48px;
    &:not(:last-child) {
      border-bottom: 1px solid #e9eaf2;
    }
  }

  &__item-name {
    // padding-left: 62px;
    flex: 0 1 35%;
    font-family: $SecondaryFont;
    color: $SecondaryColor;
    font-size: 16px;
    line-height: 20px;
  }

  &__item-answ {
    flex: 0 1 65%;
    font-family: $PrimaryFont;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
  }
}
