.contact {
  margin-bottom: 9rem;
  &__header {
    letter-spacing: 0.65px;
    font-family: $PrimaryFont;
    font-size: 4.8rem;
    line-height: 6rem;
    font-weight: 600;
    margin-bottom: 8.6rem;
  }
  &__wrapper {
    display: flex;
    margin-bottom: 7rem;
  }
  &__wrapper-left {
    flex: 0 1 35%;
  }

  &__wrapper-right {
    flex: 0 1 65%;
    background-color: #f9f9fb;
  }
  &__social-item {
    display: flex;
    &:not(:last-child) {
      margin-bottom: 4.1rem;
    }
  }

  &__social-link {
    display: flex;
  }

  &__social-icon {
    width: 2.8rem;
    align-items: center;
    margin-right: 3.2rem;
  }
  &__social-title {
    font-family: $SecondaryFont;
    color: $SecondaryColor;
    font-size: 1.4rem;
    line-height: 2.1rem;
  }
  &__social-descr {
    font-family: $PrimaryFont;
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 600;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 2.3rem 0 1rem 4.8rem;
    &:not(:last-child) {
      border-bottom: 0.1rem solid #e9eaf2;
    }
  }

  &__item-name {
    flex: 0 1 35%;
    font-family: $SecondaryFont;
    color: $SecondaryColor;
    font-size: 1.6rem;
    line-height: 2rem;
  }

  &__item-answ {
    flex: 0 1 65%;
    font-family: $PrimaryFont;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 600;
  }

  &__map-wrapper {
    display: flex;
    justify-content: center;
  }

  &__map {
    width: 60rem;
    height: 30rem;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .contact {
    margin-bottom: 6.4rem;
    &__header {
      font-size: 2.8rem;
      line-height: 125%;
      margin-bottom: 5.6rem;
    }
    &__social {
      margin-bottom: 7.2rem;
    }
    &__wrapper {
      display: block;
    }
    &__wrapper-right {
      padding: 4rem 2.4rem;
    }
    &__item {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      padding: 0;
      &:not(:last-child) {
        margin-bottom: 2.4rem;
      }
    }
    &__item-name {
      font-size: 1.5rem;
      line-height: 125%;
      margin-bottom: 1.4rem;
    }
    &__item-answ {
      font-size: 1.6rem;
      line-height: 125%;
      margin-bottom: 2.4rem;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .contact {
    margin-bottom: 8.8rem;
    &__header {
      margin-bottom: 6.4rem;
    }
    &__wrapper {
      display: block;
    }
    &__social {
      margin-bottom: 6.4rem;
    }
  }
}
