.contact {
  margin-bottom: 19.6rem;
  &__header {
    letter-spacing: 0.65px;
    font-family: $PrimaryFont;
    font-size: 4.8rem;
    line-height: 6rem;
    font-weight: 600;
    margin-bottom: 8.6rem;
  }
  &__wrapper {
    display: flex;
  }
  &__wrapper-left {
    flex: 0 1 35%;
  }

  &__wrapper-right {
    flex: 0 1 65%;
    background-color: #f9f9fb;
  }
  &__social-item {
    display: flex;
    &:not(:last-child) {
      margin-bottom: 4.1rem;
    }
  }

  &__social-link {
    display: flex;
  }

  &__social-icon {
    width: 2.8rem;
    align-items: center;
    margin-right: 3.2rem;
  }
  &__social-title {
    font-family: $SecondaryFont;
    color: $SecondaryColor;
    font-size: 1.4rem;
    line-height: 2.1rem;
  }
  &__social-descr {
    font-family: $PrimaryFont;
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 600;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 2.3rem 0px 1rem 4.8rem;
    &:not(:last-child) {
      border-bottom: 1px solid #e9eaf2;
    }
  }

  &__item-name {
    flex: 0 1 35%;
    font-family: $SecondaryFont;
    color: $SecondaryColor;
    font-size: 1.6rem;
    line-height: 2rem;
  }

  &__item-answ {
    flex: 0 1 65%;
    font-family: $PrimaryFont;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 600;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .contact {
    margin-bottom: 8.8rem;
    &__header {
      margin-bottom: 6.4rem;
    }
    &__wrapper {
      display: block;
    }
    &__social {
      margin-bottom: 6.4rem;
    }
  }
}
