.profit {
  &__hero {
    display: flex;
    align-items: center;
    background-image: url(../images/profit__hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -100px;
    max-height: 453px;
    height: 453px;
    margin-bottom: 72px;
  }

  &__header {
    max-width: 362px;
    font-family: $PrimaryFont;
    margin-left: 101px;
    font-size: 48px;
    line-height: 60px;
    font-weight: 600;
    color: #fff;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 113px;
  }
  &__item {
    max-width: 447px;
    display: flex;
    flex-direction: row;
    &:not(:nth-child(2n)) {
      margin-bottom: 58px;
    }
  }
  &__item-left {
    display: flex;
    flex-direction: column;
    margin-left: 64px;
  }

  &__item-right {
    margin-right: 142px;
  }

  &__icon {
    margin-right: 40px;
  }

  &__title {
    font-family: $PrimaryFont;
    font-size: 20px;
    line-height: 27px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  &__descr {
    font-family: $SecondaryFont;
    color: $SecondaryColor;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .profit {
    &__hero {
      margin-bottom: 4.8rem;
    }
    &__list {
      display: block;
      margin-bottom: 10rem;
    }

    &__item-left {
      margin-left: 0rem;
    }
    &__item-right {
      margin-right: 0rem;
      margin-left: 0rem;
    }

    &__item {
      margin-bottom: 4.8rem;
    }
  }
}
