.task {
  &__wrapper {
    display: flex;
    background-image: url("../images/task__main.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 125px;
  }
  &__text {
    flex: 0 1 56.5%;
    background-color: #0b7572;
    padding: 59px 64px 53px 56px;
  }

  &__text-header {
    letter-spacing: 0.5px;
    font-family: $PrimaryFont;
    font-size: 48px;
    line-height: 60px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 49px;
  }

  &__form-area {
    font-family: $SecondaryFont;
    padding: 10px 0;
    margin-bottom: 49px;
    max-width: 579px;
    max-height: 235px;
    height: 100%;
    width: 100%;
    border: none;
    color: #fff;
    border-bottom: 1px solid #fff;
    background-color: #0b7572;
    &::placeholder {
      font-family: $SecondaryFont;
      font-size: 16px;
      line-height: 20px;
      color: #fff;
      opacity: 1;
    }
  }

  &__form-text {
    display: flex;
    font-family: $SecondaryFont;
    font-size: 16px;
    line-height: 20px;
    color: #fff;

    border-bottom: 1px solid #fff;
    cursor: pointer;
    &--file {
      margin-bottom: 31px;
      padding-bottom: 15px;
    }
    &--photo {
      margin-bottom: 66px;
      padding-bottom: 14px;
    }
  }
  &__form-icon {
    margin-right: 17px;
  }

  &__form-btn {
    font-family: $PrimaryFont;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #0b7572;
    padding: 13px 36px;
    border-radius: 4px;
    background-color: #fff;
    border: none;
  }
}
