.task {
  &__wrapper {
    display: flex;
    background-image: url("../images/task__main.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 12.5rem;
  }
  &__text {
    flex: 0 1 56.5%;
    background-color: #0b7572;
    padding: 5.9rem 6.4rem 5.3rem 5.6rem;
  }

  &__text-header {
    letter-spacing: 0.5px;
    font-family: $PrimaryFont;
    font-size: 4.8rem;
    line-height: 6rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 4.9rem;
  }

  &__form-area {
    font-family: $SecondaryFont;
    padding: 1rem 0;
    margin-bottom: 4.9rem;
    max-width: 57.9rem;
    max-height: 23.5rem;
    height: 100%;
    width: 100%;
    border: none;
    color: #fff;
    border-bottom: 1px solid #fff;
    background-color: #0b7572;
    resize: none;
    &::placeholder {
      font-family: $SecondaryFont;
      font-size: 1.6rem;
      line-height: 2rem;
      color: #fff;
      opacity: 1;
    }
  }

  &__form-text {
    display: flex;
    font-family: $SecondaryFont;
    font-size: 1.6rem;
    line-height: 2rem;
    color: #fff;

    border-bottom: 1px solid #fff;
    cursor: pointer;
    &--file {
      margin-bottom: 3.1rem;
      padding-bottom: 1.5rem;
    }
    &--photo {
      margin-bottom: 6.6rem;
      padding-bottom: 1.4rem;
    }
  }
  &__form-icon {
    margin-right: 1.7rem;
  }

  &__form-btn {
    font-family: $PrimaryFont;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 600;
    color: #0b7572;
    padding: 1.3rem 3.6rem;
    border-radius: 0.4rem;
    background-color: #fff;
    border: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .task {
    &__wrapper {
      background-image: none;
      display: block;
      margin-bottom: 8.8rem;
    }
    &__form-area {
      max-width: 100%;
    }
  }
}
