.video {
  &__header {
    letter-spacing: 0.5px;
    font-family: $PrimaryFont;
    font-size: 48px;
    line-height: 60px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  &__descr {
    max-width: 850px;
    width: 100%;
    font-family: $SecondaryFont;
    color: $SecondaryColor;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
  }
}
